$green: #1db954;
$light-green: #1ed760;

$green-cyan: #a5ffef;
$dark-pink: #cb1582;

$blue: #2d46b9;

$bg-perfil: #a0c3d2;

$bg-pastel-purple: #a9c9ff;
$bg-pastel-pink: #ffbbec;

$bg-grey: #212c39;
$bg-blue: #121e3d;
