.rainbow-box {
  height: 20rem;
  background-color: red;
  background-image: linear-gradient(blue, cyan, yellow, orange, red, black);
}

.green-cyan-box {
  bottom: 2rem;
  height: 24rem;
  padding-top: 14rem;
}
