/* Header */
.bg-black {
  background-color: #000 !important;
  color: #fff;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}
.navbar-toggler {
  background-color: #fff;
}

.nav-link:hover {
  color: #1db954 !important;
}

.dropdown-item:hover {
  color: #1db954 !important;
}

/* Cover */
.bg-blue {
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#212c39),
    color-stop(50%, #121e3d),
    to(#000)
  );
  background-image: linear-gradient(#212c39, #121e3d 50%, #000);
  background-repeat: no-repeat;
}

.bg-cover {
  background-color: #a0c3d2 !important;
  padding-top: 4rem;
  color: #000;
}

.text-cover {
  padding-top: 8rem;
  padding-left: 4rem;
  font-weight: bold;
}

.description-cover {
  padding-bottom: 8rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: 24px;
}

/* Menu */
.menu-profile-picture {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.table td,
.table th {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* Content */
.bg-menu {
  background-color: #1b1b1b;
}

.text-black {
  color: #000;
}

/* Buttons */
.btn-spotify {
  border-radius: 100px;
  border-width: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 1rem 3rem;
}

/* Card */
.bg-card {
  background-color: #a0c3d2 !important;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  color: #000;
}

.text-card {
  font-weight: bold;
}

a {
  color: #1db954;
  font-weight: bold;
}

a:hover {
  color: #1db954 !important;
  text-decoration: none;
}

/* Footer */
li :hover {
  color: #1db954 !important;
  text-decoration: none;
}

.circle-icon {
  background: #222326;
  padding: 15px;
  border-radius: 100%;
}
