.bg-black {
  background-color: #000 !important;
  color: #fff;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}
.navbar-toggler {
  background-color: #fff;
}

.nav-link:hover {
  color: #1db954 !important;
}

.dropdown-item:hover {
  color: #1db954 !important;
}
