.colored-box {
  width: 500px;
  height: 300px;
  background-color: red;
  background-image: linear-gradient(blue, cyan, yellow, orange, red, black);
}

.retrospectiva {
  position: relative;
  bottom: 40px;
  padding-top: 13rem;
  height: 400px;
  width: 400px;
}
