@import "../abstracts/variables";

.btn-green {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 0.3s;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: $green;
  color: white !important;
  &:hover {
    transition-duration: 0.3s;
    background-color: $light-green !important;
    color: white !important;
  }
}

.btn-grey {
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 500px;
  border-color: grey;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 0.3s;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: transparent !important;
  color: grey;
  &:hover {
    transition-duration: 0.3s;
    border-color: black !important;
    color: black !important;
    font-size: 16px;
  }
}

.btn-dark-pink {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 0.3s;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: $dark-pink;
  color: white;
  &:hover {
    transition-duration: 0.3s;
    background-color: white !important;
    color: black !important;
  }
}

.btn-green-cyan {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 0.3s;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: $green-cyan;
  color: $dark-pink;
  &:hover {
    transition-duration: 0.3s;
    background-color: white !important;
    color: $dark-pink !important;
    font-size: 16px;
  }
}

.btn-green-blue {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 0.3s;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: $green;
  color: $blue !important;
  &:hover {
    transition-duration: 0.3s;
    background-color: white !important;
    color: $blue !important;
    font-size: 16px;
  }
}

.btn-cancelar {
  color: grey;

  &:hover {
    color: black !important;
  }
}
