.social-media-icon {
  background: #222326;
  border-radius: 100%;
  font-size: 1.8rem;
  padding: 14px;
}

li:hover {
  color: $green !important;
  text-decoration: none;
}

.copyright:hover {
  color: $grey !important;
}
