.bg-premium {
  background-color: $bg-premium-color !important;
}

.text-premium {
  padding-top: 7rem;
  padding-left: 4rem;
}

.description-premium {
  padding-bottom: 7rem;
  padding-left: 4rem;
}
