// Premium Cover
.bg-premium {
  background-color: $bg-premium-color !important;
  color: $black;
}

.text-premium {
  padding-top: 7rem;
  padding-left: 4rem;
  font-weight: bold;
}

.description-premium {
  padding-bottom: 7.5rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: 24px;
}
