.navbar {
  padding-top: unset;
}

.navbar-collapse {
  width: auto;
}

.navbar-toggler {
  background-color: #fff;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}

.nav-link:hover {
  color: #1db954 !important;
}

.dropdown-item:hover {
  color: #1db954 !important;
}

.social-media-icon {
  background: #222326;
  border-radius: 100%;
  font-size: 1.8rem;
  padding: 14px;
}

li:hover {
  color: #1db954 !important;
  text-decoration: none;
}

.copyright:hover {
  color: #757575 !important;
}

.bg-premium {
  background-color: #a0c3d2 !important;
  color: #000;
}

.text-premium {
  padding-top: 7rem;
  padding-left: 4rem;
  font-weight: bold;
}

.description-premium {
  padding-bottom: 7.5rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: 24px;
}

.bg-menu {
  background-color: #1b1b1b;
}

.menu-icons {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 18px;
}

.text-menu {
  padding: 1.4rem;
  font-weight: 500;
}

.table td,
.table th {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.table-account td,
.table-account th {
  border-top: none;
}

/* Cover */
.bg-degrade {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212c39), color-stop(50%, #121e3d), to(#000));
  background-image: linear-gradient(#212c39, #121e3d 50%, #000);
  background-repeat: no-repeat;
}

/* background-color */
.bg-black {
  background-color: #000 !important;
  color: #fff;
}

.bg-green-cyan {
  background-color: #a5ffef;
}

.bg-dark-pink {
  background-color: #cb1582;
}

.bg-blue {
  background-color: #2d46b9;
}

/* Buttons */
.btn-spotify {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: #1db954;
  color: #fff !important;
}

.btn-spotify:hover {
  background-color: #1ed760;
  font-size: 16px;
}

.btn-grey-spotify {
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 500px;
  border-color: #757575;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: transparent !important;
  color: #757575;
}

.btn-grey-spotify:hover {
  border-color: #000 !important;
  color: #000 !important;
  font-size: 16px;
}

.btn-dark-pink-spotify {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: #cb1582;
  color: #fff;
}

.btn-dark-pink-spotify:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.btn-green-cyan-spotify {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: #a5ffef;
  color: #cb1582;
}

.btn-green-cyan-spotify:hover {
  background-color: #fff;
  color: #cb1582 !important;
}

.btn-green-blue-spotify {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: #1db954;
  color: #2d46b9 !important;
}

.btn-green-blue-spotify:hover {
  background-color: #fff;
  color: #2d46b9 !important;
  font-size: 16px;
}

.btn-cancelar {
  color: #757575;
  padding: 2rem;
}

.btn-cancelar:hover {
  color: #000 !important;
}

/* text size */
.text-small {
  font-size: small;
}

.text-big {
  font-size: 64px !important;
  line-height: 64px !important;
}

/* text color */
.text-black {
  color: #000;
}

.text-green {
  color: #1db954;
}

.text-dark-pink {
  color: #cb1582;
}

.text-green-cyan {
  color: #a5ffef;
}

.text-blue {
  color: #2d46b9;
}

.text-muted {
  color: #757575 !important;
}

.text-reset {
  text-decoration: underline !important;
}

/* a */
a {
  color: #1db954;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #1db954 !important;
  text-decoration: none !important;
}

/* checkbox */
.form-check-input:checked {
  background-color: #1db954;
  border-color: #1db954;
}

/* Loading Modal */
div.spinner-border.text-success {
  width: 10rem;
  height: 10rem;
}

.modal-content {
  background-color: transparent;
  border: none;
}

/*# sourceMappingURL=style.css.map */
