@import "../abstracts/variables";

.bg-gradient-dark {
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($bg-grey),
    color-stop(50%, $bg-blue),
    to(black)
  );
  background-image: linear-gradient($bg-grey, $bg-blue 50%, black);
  background-repeat: no-repeat;
}

.bg-gradient-pastel-cover {
  background-image: linear-gradient(transparent, black);
}

.bg-black {
  background-color: black;
}

.bg-green-cyan {
  background-color: $green-cyan;
  color: $dark-pink;
}

.bg-dark-pink {
  background-color: $dark-pink;
  color: $green-cyan;
}

.bg-blue {
  background-color: $blue;
  color: $light-green;
}
