$black: #000;
$white: #fff;

$green: #1db954;
$light-green: #1ed760;

$grey: #757575;

$bg-premium-color: #a0c3d2;
$bg-menu-color: #1b1b1b;

$bg-grey: #212c39;
$bg-blue: #121e3d;

$dark-pink: #cb1582;
$green-cyan: #a5ffef;
$blue: #2d46b9;
