@import "vars/colors";

/* Header */
.bg-black {
  background-color: $black !important;
  color: $white;
}

.navbar-collapse {
  width: auto;
}

.navbar-light .navbar-toggler {
  border-color: $white;
}
.navbar-toggler {
  background-color: $white;
}

.nav-link:hover {
  color: $green !important;
}

.dropdown-item:hover {
  color: $green !important;
}

.navbar {
  padding-top: unset;
}

/* Cover */
.bg-blue {
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($bg-grey),
    color-stop(50%, $bg-blue),
    to($black)
  );
  background-image: linear-gradient($bg-grey, $bg-blue 50%, $black);
  background-repeat: no-repeat;
}

.bg-cover {
  background-color: $bg-premium-color !important;
  color: $black;
}

.text-cover {
  padding-top: 7rem;
  padding-left: 4rem;
  font-weight: bold;
}

.description-cover {
  padding-bottom: 7.5rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: 24px;
}

/* Menu */
.menu-profile-picture {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.table td,
.table th {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.text-menu {
  padding: 1.4rem;
  font-weight: 500;
}

.menu-icons {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 18px;
}

/* Content */
.bg-menu {
  background-color: $bg-menu-color;
}

.table-account td,
.table-account th {
  border-top: none;
}

/* Card */
.bg-card {
  background-color: $bg-premium-color !important;
  padding-left: 2rem;
  color: $black;
}

/* Footer */
li:hover {
  color: $green !important;
  text-decoration: none;
}

.social-media-icon {
  background: #222326;
  border-radius: 100%;
  font-size: 1.8rem;
  padding: 14px;
}

.copyright:hover {
  color: $grey !important;
}

/* Form */
label {
  font-size: 14px;
}

/* Buttons */
.btn-spotify {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: $green;
  color: $white;
}

.btn-spotify:hover {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 20px 50px;
  position: relative;
  background-color: $light-green;
  color: $white;
}

.btn-index-spotify {
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 500px;
  border-color: $grey;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: transparent;
  color: $grey;
}

.btn-index-spotify:hover {
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 500px;
  border-color: $black !important;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: transparent;
  color: $black !important;
}

.btn-cancelar {
  color: $grey;
  padding: 2rem;
}

.btn-cancelar:hover {
  color: $black !important;
}

/* text */
.text-black {
  color: $black;
}

.text-muted {
  color: $grey !important;
}

.text-reset {
  text-decoration: underline !important;
}

/* a */
a {
  color: $green;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $green !important;
  text-decoration: none;
}

/* checkbox */
.form-check-input:checked {
  background-color: $green;
  border-color: $green;
}

/* Loading Modal */
div.spinner-border.text-success {
  width: 10rem;
  height: 10rem;
}

.modal-content {
  background-color: transparent;
  border: none;
}
