@import "vars/colors";

@import "divs/header";
@import "divs/footer";
@import "divs/profile";

@import "blocks/menu";

/* Cover */
.bg-degrade {
  position: relative;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($bg-grey),
    color-stop(50%, $bg-blue),
    to($black)
  );
  background-image: linear-gradient($bg-grey, $bg-blue 50%, $black);
  background-repeat: no-repeat;
}

/* background-color */
.bg-black {
  background-color: $black !important;
  color: $white;
}

.bg-green-cyan {
  background-color: $green-cyan;
}

.bg-dark-pink {
  background-color: $dark-pink;
}

/* Buttons */
.btn-spotify {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: $green;
  color: $white !important;
}

.btn-spotify:hover {
  font-size: 16px;
  padding: 20px 50px;
  background-color: $light-green;
}

.btn-grey-spotify {
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 500px;
  border-color: $grey;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: transparent !important;
  color: $grey;
}

.btn-grey-spotify:hover {
  border-color: $black !important;
  color: $black !important;
  font-size: 16px;
}

.btn-dark-pink-spotify {
  box-sizing: border-box;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  user-select: none;
  vertical-align: middle;
  padding: 18px 48px;
  position: relative;
  background-color: $dark-pink;
  color: $white;
}

.btn-dark-pink-spotify:hover {
  background-color: $white !important;
  color: $black !important;
}

.btn-cancelar {
  color: $grey;
  padding: 2rem;
}

.btn-cancelar:hover {
  color: $black !important;
}

/* text size */
.text-small {
  font-size: small;
}

.text-big {
  font-size: 64px !important;
  line-height: 64px !important;
}

/* text color */
.text-black {
  color: $black;
}

.text-dark-pink {
  color: $dark-pink;
}

.text-green-cyan {
  color: $green-cyan;
}

.text-muted {
  color: $grey !important;
}

.text-reset {
  text-decoration: underline !important;
}

/* a */
a {
  color: $green;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $green !important;
  text-decoration: none !important;
}

/* checkbox */
.form-check-input:checked {
  background-color: $green;
  border-color: $green;
}

/* Loading Modal */
div.spinner-border.text-success {
  width: 10rem;
  height: 10rem;
}

.modal-content {
  background-color: transparent;
  border: none;
}
